<h1>AIMS Daily Report Generator</h1>
<br><h2>This app lets you:</h2>
<ul>
<h3><li>enter the day's banding list</li></h3>
<h3><li>add your write-up (optional), and</li></h3>
<h3><li>post the report to the website</li></h3>
</ul>
<br>

<h2>To get started, please <%= link_to "Log In", sessions_logged_in_path%></h2>
<br><br>
