<h2>Your posted reports:</h2>
<ul>
<%@reports.posted.order(:date).each do |report| %>
    <li><h3><%= link_to report_datetime_formatted(report.date), report_path(report), :class => "load_target" %><h3></li>
<%end%>
</ul>
