<%= link_to("Return to home page", bander_path, method: :get) %>
<h1>Report for: <%= report_datetime_formatted(@report.date) %></h1>

<h2>Add Birds Banded:</h2>
<table class="display">
    <tr id="header_row"><th>Alpha Code</th><th>Species Name</th><th>Number Banded</th></tr>
    <%= render 'birds_of_species/birds_of_species' %>
    <%= render 'form', report: @report %>
