<h1>Daily Reports - Spring 2018</h1>
<ul>
<%@reports.posted.order(:date).each do |report| %>
    <li><%= link_to report_datetime_formatted(report.date), bander_report_path(current_bander, report)%></li>
<%end%>
</ul>
