<h2>Your posted reports:</h2>
<ul>
<%@reports.posted.order(:date).each do |report| %>
    <h3><li><%= link_to report_datetime_formatted(report.date), bander_report_path(current_bander, report)%></li><h3>
<%end%>
</ul>
